@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Akira Expanded';
  src: url('./resources/akira_expanded/Akira Expanded Demo.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Octarine';
  src: url('./resources/octarine/OctarineFree/Octarine-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Octarine';
  src: url('./resources/octarine/OctarineFree/Octarine-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Octarine';
  src: url('./resources/octarine/OctarineFree/Octarine-LightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Octarine';
  src: url('./resources/octarine/OctarineFree/Octarine-BoldOblique.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: #0F1115;
  color: #FFFFFF;
  font-family: 'Octarine', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Akira Expanded', sans-serif;
}
